<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vm.TextOnPhoto.PhotoEditor">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!--permission wake up device when notification come-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.vmb.chinh_sua_anh.MainApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/ic_notification_status_bar"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--<receiver
            android:name="com.vmb.chinh_sua_anh.receiver.ConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>-->

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider384031082213548"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--<meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="58dba328696e589fc7db84989c4acd646a4dfb0c" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_status_bar" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.SplashActivity"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.SavedImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.DetailPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.ChooseImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.TextInputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.FontActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.StickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.CropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vmb.chinh_sua_anh.activity.AfterSavingActivity"
            android:screenOrientation="portrait" />


        <service
            android:name="com.vmb.chinh_sua_anh.service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:persistent="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.vmb.chinh_sua_anh.service.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:persistent="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>